  <!--**********************************
        Main wrapper start
    ***********************************-->
  <div id="main-wrapper" *ngIf="isLoggedIn else login">

    <!--**********************************
            Nav header start
        ***********************************-->
    <div class="nav-header">
      <a href="#" class="brand-logo">
        <img class="logo-abbr fa-brands fa-stumbleupon" src="../../../assets/img/iconoSmartFinance.png" />
      </a>
      <a href="#">
        <h4 class="brand-title">SmartFinance</h4>
      </a>
      <div class="nav-control">
        <div class="hamburger">
          <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
      </div>
    </div>
    <!--**********************************
            Nav header end
        ***********************************-->

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </div>

  <app-aviso-cookie *ngIf="!cookieAceptada" (cookieAceptada)="cookieAceptada = true"></app-aviso-cookie>
  <!--**********************************
        Main wrapper end
    ***********************************-->
  <ng-template #login>
    <router-outlet></router-outlet>
  </ng-template>
