<div class="contenedorAvisoCookies">
  <div class="avisoCookies">
      <img class="imgCookie" src="../../../assets/img/cookie.png" alt="Cookie">
      <h3 class="tituloAvisoCookies">Cookies</h3>
      <p class="textoAvisoCookies">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
      <button class="btnAceptarCookies" id="btnAceptarCookies" (click)="aceptarCookie()">Aceptar Cookies</button>
      <a class="enlaceAvisoCookies" href="politicaCookies">Aviso de Cookies</a>
  </div>
</div>
