<!--**********************************
          Content body start
      ***********************************-->
      <div class="content-body">
        <div class="container-fluid">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-12 mb-4 text-center">
              <h2 *ngIf="!mostrarVistaCompleta && vistaHistorial === 'month'">
                <fa-icon class="iconoFlecha" [icon]="icons.arrowLeft" (click)="changeMonth('previous')"
                  *ngIf="currentMonth !== 0"></fa-icon>
                <span class="changeMonth">{{ selectedMonth }}</span>
                <fa-icon class="iconoFlecha" [icon]="icons.arrowRight" (click)="changeMonth('next')"
                  *ngIf="currentMonth !== allMonths.length - 1"></fa-icon>
              </h2>
              <h3 *ngIf="vistaHistorial !== 'completo'">
                <fa-icon class="iconoFlecha" [icon]="icons.arrowLeft" (click)="changeYear('previous')"></fa-icon>
                <span class="changeYear">{{ currentYear }}</span>
                <fa-icon class="iconoFlecha" [icon]="icons.arrowRight" (click)="changeYear('next')"></fa-icon>
              </h3>
              <div class="container text-center mt-4" *ngIf="vistaHistorial === 'month'">
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2"
                  (click)="cambiarVista('completo')">Mostrar historial completo</button>
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2" (click)="cambiarVista('year')">Mostrar
                  historial por año</button>
              </div>
              <div class="container text-center mt-4" *ngIf="vistaHistorial === 'year'">
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2"
                  (click)="cambiarVista('completo')">Mostrar historial completo</button>
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2" (click)="cambiarVista('month')">Mostrar
                  historial por mes</button>
              </div>
              <div class="container text-center mt-4" *ngIf="vistaHistorial === 'completo'">
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2" (click)="cambiarVista('month')">Mostrar
                  historial por mes</button>
                <button class="btn btn-primary shadow-primary btn-rounded mx-2 my-2" (click)="cambiarVista('year')">Mostrar
                  historial por año</button>
              </div>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-xl-10 col-xxl-10 col-lg-6 col-sm-6">
              <div class="card card-bd">
                <div class="bg-primary card-border"></div>
                <div class="card-body box-style card-gastos">
                  <div class="media align-items-center">
                    <div class="media-body me-3">
                      <h2 class="count num-text text-red font-w700">{{totalGastos}}</h2>
                      <span class="fs-14">Gastos</span>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 576 512" class="svgArrowDown">
                      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M384 352c-17.7 0-32 14.3-32 32s14.3 32 32 32H544c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32s-32 14.3-32 32v82.7L342.6 137.4c-12.5-12.5-32.8-12.5-45.3 0L192 242.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0L320 205.3 466.7 352H384z" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-modal-add-gasto *ngIf="mostrarModalAddGasto" (cerrarModal)="cerrarModalGasto($event)"></app-modal-add-gasto>

        <div class="text-center mb-4">
          <a class="btn btn-addGasto btn-rounded mx-2 my-2" (click)="abrirModalGasto()">Añadir Gastos</a>
        </div>

        <!-- Notificación de eliminado éxito -->
        <div *ngIf="eliminadoConExito" class="alert-container">
          <div class="alert alert-danger alert-dismissible fade show custom-alert" role="alert">
            <strong>Éxito:</strong> Gasto eliminado con éxito.
          </div>
        </div>

        <!-- Notificación de editado éxito -->
        <div *ngIf="editadoConExito" class="alert-container">
          <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
            <strong>Éxito:</strong> Gasto editado con éxito.
          </div>
        </div>

        <div class="contenedorHistorial">
          <h3 class="text-center">- Historial -</h3>
          <div class="row d-flex justify-content-center">
            <div class="col-xl-10 col-xxl-10">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-body historial">
                      <div class="item" *ngFor="let gasto of gastos">
                        <div class="registro d-flex" [ngStyle]="{'background-color':'#8a2727','border-color': '#ff0000'}">
                          <div>
                            <span class="valor valorFecha">{{ gasto.fecha }}</span> | <span
                              class="valor valorDescripcion">{{ gasto.descripcion }}</span> | <span
                              class="valor valorCantidad">{{ gasto.cantidad }}</span>
                          </div>
                          <div>
                            <fa-icon class="opcionRegistro" [icon]="icons.edit" title="Editar"
                              (click)="abrirModalEditar(gasto)"></fa-icon>
                            |
                            <fa-icon class="opcionRegistro" [icon]="icons.trash" title="Eliminar"
                              (click)="abrirModalEliminar(gasto)"></fa-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
                          Content body end
                      ***********************************-->
      <!-- Modal Editar Gasto -->
      <div class="modal d-flex align-items-center justify-content-center" *ngIf="mostrarModalEditar">
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-editar">
            <div class="modal-header">
              <h5 class="modal-title">Editar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="cerrarModalEditar()"></button>
            </div>
            <div class="modal-body">
              <form name="formEditarGasto" (ngSubmit)="editarGasto()">
                <div class="mb-3">
                  <label for="cantidad" class="col-form-label">Cantidad:</label>
                  <input type="number" class="form-control" name="cantidad" [(ngModel)]="formEditarGasto.cantidad">
                </div>
                <div class="mb-3">
                  <label for="descripcion" class="col-form-label">Descripción:</label>
                  <textarea class="form-control" name="descripcion" [(ngModel)]="formEditarGasto.descripcion"></textarea>
                </div>
                <div class="mb-3">
                  <label for="fecha" class="col-form-label">Fecha:</label>
                  <input type="date" class="form-control" name="fecha" [(ngModel)]="formEditarGasto.fecha">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-addGasto" data-bs-dismiss="modal"
                (click)="cerrarModalEditar()">Cancelar</button>
              <button type="button" class="btn btn-addIngreso" (click)="editarGasto()">Editar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para borrar registro -->
      <div class="modal d-flex align-items-center justify-content-center" *ngIf="mostrarModalEliminacion">
        <div class="modal-dialog">
          <div class="modal-content modal-gasto">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Eliminación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="cancelarEliminacion()"></button>
            </div>
            <div class="modal-body">
              <p>¿Estás seguro de que quieres eliminar este registro?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-addGasto" data-bs-dismiss="modal"
                (click)="cancelarEliminacion()">Cancelar</button>
              <button type="button" class="btn btn-addIngreso" (click)="confirmarEliminacion()">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
